# dotfile管理における除外設定
# 環境固有の除外設定は[ ~/.gitexcludes ]に書く

# とりあえず全部除外
/*
/.*

# 管理対象のファイルのみを対象に入れる
!.bashrc
!.gitmodules
!.gvimrc
!.inputrc
!.screenrc
!.vim
!.vimrc
!.zshrc
!.zsh
!.zshrc.vi
!.vimperator
!.vimperatorrc

!/.gitignore
!/.gitconfig
!/.gitmodules
!/.gitexcludes

# vim: set ft=gitconfig:
